html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-secondary;
  font-size: 1.6rem;
  color: $color-black;
  background-color: $color-white;
}
