@font-face {
  font-family: LNR;
  src: url(/assets/Font/LNR.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$font-primary: "LNR", Arial;
$font-secondary: "Playfair Display", serif;
$font-tertiary: "Montserrat", Arial;

$color-black: #000000;
$color-white: #ffffff;
$color-red: #ff2e27;
$color-red-light: #ff9692;
$color-neon: #0ef8f6;
$color-neon-light: #d7fffb;
$color-neon-light-2: #d1fefb;
$color-green: #00504a;
$color-gray: #c4c4c4;
$color-gray-dark: #9d9d9d;
$color-gray-light: #dcdcdc;

.heading {
  justify-self: stretch;

  &--header {
    flex: 0 0 62rem;

    @media only screen and (max-width: 101.25em) {
      flex: 0 0 60rem;
    }

    @media only screen and (max-width: 78.125em) {
      flex: 0 0 50rem;
    }

    @media only screen and (max-width: 68.75em) {
      flex: 0 0 45rem;
    }

    @media only screen and (max-width: 59.375em) {
      order: 1;
      padding-top: 5rem;
      justify-content: center;
    }

    @media only screen and (max-width: 59.375em) {
      flex: 1;
    }
  }

  &--contact {
    flex: 0 0 50rem;

    @media only screen and (max-width: 65.9375em) {
      order: 2;
      margin-top: 3rem;
    }
  }

  &--globe {
    flex: 0 0 65rem;
    margin-right: 5rem;

    @media only screen and (max-width: 98.75em) {
      flex: 1;
    }

    @media only screen and (max-width: 43.75em) {
      margin-right: 0;
    }
  }

  &__text {
    font-family: $font-primary;
    font-size: 5rem;
    font-weight: normal;
    color: $color-red;

    @media only screen and (max-width: 101.25em) {
      font-size: 4.5rem !important;
    }

    @media only screen and (max-width: 78.125em) {
      font-size: 4rem !important;
    }

    @media only screen and (max-width: 73.75em) {
      font-size: 3.5rem !important;
    }

    @media only screen and (max-width: 68.75em) {
      font-size: 3rem !important;
    }

    @media only screen and (max-width: 31.25em) {
      font-size: 2.5rem !important;
    }

    &--globe {
      font-size: 4rem;
      margin-top: 1rem;
    }
  }

  &__desc {
    font-family: $font-secondary;
    font-size: 2rem;
    margin-top: 2rem;

    @media only screen and (max-width: 68.75em) {
      font-size: 1.75rem;
    }

    &--globe {
      margin-top: 1rem;
    }

    &--small {
      font-size: 1.8rem;
    }
  }

  &__btn {
    display: inline-block;
    margin-top: 2rem;
  }

  &--cd {
    position: relative;
    display: inline-block;
    flex: 0 0 58rem;
    padding-top: 15rem;

    @media only screen and (max-width: 101.25em) {
      flex: 0 0 52rem;
    }

    @media only screen and (max-width: 82.1875em) {
      flex: 0 0 46rem;
    }

    @media only screen and (max-width: 73.75em) {
      flex: 0 0 35rem;
    }

    @media only screen and (max-width: 67.5em) {
      order: 2;
      padding-top: 3rem;
    }

    @media only screen and (max-width: 31.25em) {
      flex: 1;
    }

    // @media only screen and (max-width: 21.5625em) {
    //   margin-top: -90rem;
    // }
  }
}

.title {
  &__text {
    font-family: $font-primary;
    font-size: 2.9rem;

    @media only screen and (max-width: 67.5em) {
      font-size: 2.5rem;
    }

    &--project {
      text-align: center !important;
    }
  }

  &__desc {
    padding-top: 1.5rem;
  }
}
