.btn {
  display: flex;

  &--team {
    margin-top: 6rem;

    @media only screen and (max-width: 70.625em) {
      margin-top: 3rem;
    }
  }

  &--project {
    margin-top: 10rem;
    justify-content: center;

    @media only screen and (max-width: 31.25em) {
      margin-top: 5rem;
    }
  }

  &--talk {
    margin-top: 4rem;
    justify-content: center;

    @media only screen and (max-width: 53.125em) {
      margin-top: 2rem;
    }

    @media only screen and (max-width: 25em) {
      margin-top: 0.75rem;
    }
  }

  &__link {
    padding: 1rem 2rem 1rem 2.5rem;
    border: 0.3rem solid $color-red;
    border-radius: 1.5rem;
    color: $color-red;
    font-size: 2rem;
    text-decoration: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 0.2s ease-in-out;

    &--red:hover {
      background: $color-red;
      color: $color-white;

      & > div.btn__arrow--red {
        border-left: 1.1rem solid $color-white;
      }
    }

    &--green:hover {
      background: $color-green;
      color: $color-white;

      & > div.btn__arrow--green {
        border-left: 1.1rem solid $color-white;
      }
    }

    @media only screen and (max-width: 68.75em) {
      font-size: 1.75rem;
    }

    &--team {
      color: $color-green;
      border-color: $color-green;
    }
  }

  &__text {
    font-family: $font-secondary;
    margin-right: 3rem;
  }

  &__arrow {
    transition: all 0.2s ease;
    width: 0;
    height: 0;
    border-top: 0.7rem solid transparent;
    border-bottom: 0.7rem solid transparent;
    border-left: 1.1rem solid $color-red;

    &--red {
      border-left: 1.1rem solid $color-red;
    }

    &--green {
      border-left: 1.1rem solid $color-green;
    }
  }
}

.line {
  background: $color-black;
  width: 13rem;
  height: 0.3rem;

  &--hero {
    margin-top: 3rem;
  }

  &--title {
    margin: 2rem auto 0 auto;
  }
}

// BACK TO TOP
.back {
  background: $color-red-light;
  position: fixed;
  width: 5.3rem;
  bottom: 5rem;
  right: 5rem;
  height: 5.3rem;
  border-radius: 50%;
  border: 0.2rem solid $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  z-index: 9999;

  &:hover {
    background: $color-red;
    cursor: pointer;
  }

  @media only screen and (max-width: 43.75em) {
    bottom: 4.8rem;
    right: 4rem;
  }

  @media only screen and (max-width: 31.25em) {
    bottom: 4.8rem;
    right: 3rem;
    width: 3.5rem;
    height: 3.5rem;
  }

  @media only screen and (max-width: 20em) {
    bottom: 4.8rem;
    right: 2.5rem;
  }

  &__arrow {
    display: block;
    width: 1.5rem;
  }
}
