.btn {
  display: flex;

  &__link {
    padding: 1rem 2rem 1rem 2.5rem;
    border: 0.3rem solid $color-red;
    border-radius: 1.5rem;
    color: $color-red;
    font-size: 2rem;
    text-decoration: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    font-family: $font-secondary;
    margin-right: 3rem;
  }
}
