// CONTACT SECTION

// ACROSS THE GLOBE SECTION
.globe {
  padding: 10rem 7.5rem 20rem 7.5rem;

  @media only screen and (max-width: 43.75em) {
    padding: 5rem;
  }

  @media only screen and (max-width: 31.25em) {
    padding: 5rem 3rem;
  }

  &__location-box {
    margin-top: 5rem;
    display: flex;

    @media only screen and (max-width: 28.75em) {
      flex-direction: column;
    }
  }

  &__location {
    &:not(:last-child) {
      margin-right: 9rem;

      @media only screen and (max-width: 28.75em) {
        margin-right: 0;
      }
    }

    &--2 {
      @media only screen and (max-width: 28.75em) {
        margin-top: 3rem;
      }
    }
  }

  &__location h1 {
    font-family: $font-tertiary;
    text-transform: uppercase;
    padding-bottom: 2rem;

    @media only screen and (max-width: 36.25em) {
      font-size: 2rem;
    }
  }

  &__location p {
    &:not(:last-child) {
      margin-bottom: 1 rem;
    }
  }

  &__input-box {
    display: flex;
    flex-direction: column;
  }

  &__input,
  &__txtarea {
    border: 1px solid $color-gray;
    outline: none;
    font-family: $font-secondary;
    font-size: 1.8rem;
    color: $color-gray-dark;
    font-style: italic;
    padding: 1rem;
    width: 48rem;
    margin-bottom: 3rem;

    @media only screen and (max-width: 36.25em) {
      width: 100%;
    }

    &::placeholder {
      color: $color-gray;
    }
  }

  &__txtarea {
    height: 4.6rem;
    &::placeholder {
      color: $color-gray;
    }
  }
}

// MAP SECTION
.map {
  width: 100%;
  height: 100vh;
}
