.process {
  padding: 7.5rem 0;
  text-align: center;

  &__title {
    font-family: $font-primary;
    text-transform: uppercase;
    font-size: 3.5rem;
    color: $color-red;
  }

  &__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    grid-gap: 1.75rem 1rem;
    justify-content: center;
    width: 80rem;
    margin: 3.5rem auto 0 auto;

    @media only screen and (max-width: 50.625em) {
      width: 100%;
    }

    @media only screen and (max-width: 31.25em) {
      grid-gap: 1rem;
    }
  }

  &__item {
    flex: 0 0 30%;
  }

  &__link {
    font-size: $font-secondary;
    font-size: 2rem;
    color: $color-black;
    text-decoration: none;

    @media only screen and (max-width: 31.25em) {
      font-size: 1.8rem;
    }
  }

  &__tab-content {
    margin-top: 7.5rem;
    padding: 2rem 2rem 7.5rem 2rem;
    background-color: $color-neon-light-2;

    @media only screen and (max-width: 46.875em) {
      padding: 35rem 2rem 7.5rem 2rem;
    }
  }

  &__box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &--1 {
      margin-top: -1rem;
    }

    &:not(:first-child) {
      margin-top: 5rem;

      @media only screen and (max-width: 46.875em) {
        margin-top: 25rem;
      }
    }
  }

  &__text-box {
    width: 61.5rem;
    font-family: $font-secondary;
    font-size: 1.8rem;
    border: 0.2rem solid $color-black;
    border-radius: 1.8rem;
    text-align: left;

    @media only screen and (max-width: 28.125em) {
      padding: 2rem !important;
    }

    @media only screen and (max-width: 46.875em) {
      width: 50rem;
    }

    & p {
      @media only screen and (max-width: 46.875em) {
        font-size: 1.6rem;
      }

      @media only screen and (max-width: 28.125em) {
        font-size: 1.4rem;
      }
    }

    &--1 {
      padding: 3rem;
      margin: 13rem 0 0 -10rem;
      padding-left: 10rem;

      @media only screen and (max-width: 46.875em) {
        padding: 3rem;
        margin: 0;
      }
    }

    &--2 {
      padding: 3rem 3rem 5rem 3rem;
      margin: 0 -33rem 0 0;
      padding-right: 20rem;

      @media only screen and (max-width: 61.875em) {
        margin: 0 -27rem 0 0;
      }

      @media only screen and (max-width: 46.875em) {
        padding: 3rem;
        margin: 0;
      }
    }

    &--3 {
      padding: 3rem;
      margin: 13rem 0 0 -21rem;
      padding-left: 10rem;

      @media only screen and (max-width: 61.875em) {
        margin: 13rem 0 0 -21rem;
        padding-left: 20rem;
      }

      @media only screen and (max-width: 46.875em) {
        padding: 3rem;
        margin: 0;
      }
    }
  }

  &__photo {
    position: relative;
    z-index: 9;

    @media only screen and (max-width: 61.875em) {
      width: 20rem;
    }

    @media only screen and (max-width: 46.875em) {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--1 {
      @media only screen and (max-width: 61.875em) {
        width: 15rem;
      }

      @media only screen and (max-width: 46.875em) {
        top: -98%;
      }
    }

    &--2 {
      @media only screen and (max-width: 46.875em) {
        top: -60%;
      }
    }

    &--3 {
      @media only screen and (max-width: 46.875em) {
        top: -85%;
      }
    }
  }
}

.b-tab {
  display: none;
}

.b-tab.active--process {
  display: block;
}

.b-nav-tab.active--process {
  padding-bottom: 0.25rem;
  border-bottom: 0.3rem solid $color-red;
}

// PROCESSES
.processes {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 7.5rem;
  height: 100vh;

  @media only screen and (max-width: 67.5em) {
    flex-direction: column;
  }

  @media only screen and (max-width: 56.25em) {
    padding: 3rem;
  }

  // @media only screen and (max-width: 53.125em) {
  //   padding: 7.5rem 0 0 0;
  // }

  // @media only screen and (max-width: 31.25em) {
  //   padding: 3rem 0 0 0;
  // }

  // @media only screen and (max-width: 53.125em) {
  //   flex-direction: column;
  //   margin-top: -20rem;
  // }

  // @media only screen and (max-width: 31.25em) {
  //   padding: 0 3rem;
  // }

  // @media only screen and (max-width: 21.875em) {
  //   margin-top: -25rem;
  // }

  // @media only screen and (max-width: 21.5625em) {
  //   margin-top: -22rem;
  // }

  &__box {
    display: flex;
    height: 100vh;
    flex: 1;
    margin-left: -20rem;

    @media only screen and (max-width: 67.5em) {
      margin-left: 0;
    }

    // @media only screen and (max-width: 53.125em) {
    //   height: 66rem;
    //   order: 1;
    //   margin-bottom: 0rem;
    // }
  }

  &__image {
    width: 100%;
    max-width: 80rem;
    height: 100%;

    @media only screen and (max-width: 101.25em) {
      width: 60rem;
    }

    @media only screen and (max-width: 91em) {
      width: 55rem;
    }

    @media only screen and (max-width: 88em) {
      width: 45rem;
    }

    @media only screen and (max-width: 78.125em) {
      width: 40rem;
    }

    @media only screen and (max-width: 34.375em) {
      width: 30rem;
    }

    @media only screen and (max-width: 26.25em) {
      width: 20rem;
    }

    // @media only screen and (max-width: 53.125em) {
    //   max-width: 35rem;
    // }

    // @media only screen and (max-width: 31.25em) {
    //   max-width: 28rem;
    // }

    // @media only screen and (max-width: 21.875em) {
    //   max-width: 26rem;
    // }
  }

  &__content {
    position: relative;
    flex: 1;
    margin-left: -10rem;
    // position: absolute;
    // top: 10.5%;
    // right: 64%;
    // transform: translate(-10.5%, -64%);

    // @media only screen and (max-width: 87.5em) {
    //   right: 58%;
    //   top: 21.5%;
    // }
  }
}

// CAROUSEL
#blade {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;

  // @media only screen and (max-width: 53.125em) {
  //   margin-top: -25rem;
  //   pointer-events: none;
  // }

  // @media only screen and (max-width: 31.25em) {
  //   margin-top: -20rem;
  // }

  .mentor {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    right: 5rem;
    opacity: 0;
    transition: opacity 0.5s;

    // @media only screen and (max-width: 88em) {
    //   bottom: 8rem;
    // }

    // @media only screen and (max-width: 67.5em) {
    //   top: 0;
    // }

    &--show {
      opacity: 1;
    }

    // @media only screen and (max-width: 53.125em) {
    //   top: 10rem;
    //   left: -12rem;
    // }

    // @media only screen and (max-width: 21.875em) {
    //   left: -10.5rem;
    //   top: 13rem;
    // }
  }
}

.blade-box {
  position: relative;
  width: 60rem;
  height: 60rem;

  @media only screen and (max-width: 34.375em) {
    width: 50rem;
  }

  @media only screen and (max-width: 26.25em) {
    width: 40rem;
  }

  // @media only screen and (max-width: 26.25em) {
  //   width: 45rem;
  // }

  // @media only screen and (max-width: 53.125em) {
  //   height: 0;
  //   width: 40rem;
  // }

  // @media only screen and (max-width: 31.25em) {
  //   width: 30rem;
  // }
}

.circle-carousel {
  width: 60rem;
  height: 60rem;
  position: absolute;
  right: 30rem;
  margin-top: 0;
  transition: transform 0.5s;
  z-index: 201;
  border: 0.5rem solid $color-neon;
  border-radius: 50rem;
  pointer-events: auto !important;

  @media only screen and (max-width: 67.5em) {
    display: none;
  }

  &__item {
    width: 3rem;
    height: 3rem;
    position: absolute;
    background: $color-neon;
    // background: #71439a;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
    color: #fff;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
    cursor: pointer;

    &:hover {
      background: $color-red;
      outline: 0.1rem solid $color-neon;
      outline-offset: 0.2rem;
      -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
    }

    &.active {
      background: $color-red;
      outline: 0.1rem solid $color-neon;
      outline-offset: 0.2rem;
      transform: scale(1.8);
      -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
    }

    &.next-to-active {
      transform: scale(1.3);
    }

    div {
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 100%;
      transition: transform 0.5s;
    }
  }
}

.carousel-box {
  position: relative;
  overflow: visible;
}

.carousel-text {
  text-align: left;
  position: absolute;
  font-size: 1.5rem;
  line-height: 1;
  width: 25rem !important;
  bottom: 1rem !important;
  left: 4rem !important;
  color: $color-red !important;
  pointer-events: none;

  &--sm {
    font-size: 1.3rem;
  }
}

.active-text {
  display: block !important;
}

.none {
  display: none;
}
