.footer {
  background-color: $color-white;
  padding: 4.5rem 7.5rem;
  padding: 13rem 5rem;

  &--contact {
    padding: 6.5rem 7.5rem 4.5rem 7.5rem;
  }

  @media only screen and (max-width: 65.9375em) {
    padding: 4.5rem 5rem;
  }

  @media only screen and (max-width: 31.25em) {
    padding: 4.5rem 3rem;
  }

  &__logo {
    @media only screen and (max-width: 31.25em) {
      width: 9rem;
    }
  }

  &__details {
    display: flex;
    padding-bottom: 7.5rem;

    @media only screen and (max-width: 65.9375em) {
      flex-direction: column;
    }

    @media only screen and (max-width: 31.25em) {
      padding-bottom: 3rem;
    }

    & > *:not(:last-child) {
      margin-right: 15rem;

      @media only screen and (max-width: 78.75em) {
        margin-right: 5rem;
      }

      @media only screen and (max-width: 46.875em) {
        margin-right: 3rem;
      }
    }

    @media only screen and (max-width: 65.9375em) {
      font-size: 1.4rem;
    }
  }

  &__item {
    &--1 {
      width: 40rem;

      @media only screen and (max-width: 31.25em) {
        width: 100%;
      }
    }

    &--2 {
      width: 28rem;
    }
  }

  &__item:not(:first-child) {
    padding-top: 3rem;
  }

  &__desc {
    padding-top: 3rem;
  }

  &__item h1 {
    font-family: $font-tertiary;
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;

    @media only screen and (max-width: 65.9375em) {
      font-size: 1.8rem;
    }
  }

  &__icon-box {
    display: flex;
    align-items: center;
    padding-top: 2.5rem;

    &--location {
      align-items: flex-start;
    }
  }

  &__icon {
    margin-right: 2rem;
    transition: all 0.2s ease;

    &:hover {
      fill: $color-red;
    }

    &--ig:hover > path {
      fill: none;
      stroke: $color-red;
    }
  }

  &__email {
    text-decoration: none;
    color: $color-black;
  }

  &__sm-box {
    display: flex;
    padding-top: 2.5rem;
  }

  &__box {
    border-top: 0.2rem solid $color-gray;
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;

    @media only screen and (max-width: 57.1875em) {
      flex-direction: column;
    }
  }

  &__copyright {
    font-family: $font-tertiary;
    font-size: 1.2rem;

    @media only screen and (max-width: 57.1875em) {
      order: 1;
      padding-top: 5rem;
      font-size: 1rem;
    }

    @media only screen and (max-width: 31.25em) {
      padding-top: 3rem;
    }
  }

  &__nav-list {
    display: flex;
    list-style-type: none;

    @media only screen and (max-width: 28.125em) {
      flex-direction: column;
    }
  }

  &__nav-item:not(:last-child) {
    margin-right: 4rem;

    @media only screen and (max-width: 35.625em) {
      margin-right: 2rem;
    }
  }

  &__nav-link {
    display: inline-block;
    text-decoration: none;
    font-family: $font-tertiary;
    font-size: 1.2rem;
    color: $color-black;
    transition: all 0.2s ease;

    &:hover {
      color: $color-red;
    }
  }
}
