.header {
  padding: 1.5rem 7.5rem;
  height: 100vh;
}

.hero {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    flex: 1;
    margin-right: 10rem;
  }
}
