.team {
  margin-top: -11.5rem;
  background-color: $color-neon-light;
  text-align: center;
  padding: 20rem 3rem 15rem 3rem;

  @media only screen and (max-width: 56.25em) {
    padding: 10rem 3rem 10rem 3rem;
  }

  @media only screen and (max-width: 31.25em) {
    padding: 5rem 3rem;
  }

  &__heading {
    font-family: $font-primary;
    font-size: 2.9rem;
    color: $color-red;
    font-weight: bold;
    padding-top: 1.5rem;

    @media only screen and (max-width: 31.25em) {
      font-size: 2.5rem;
    }

    &--green {
      color: $color-green;
      font-size: 2rem;
    }

    &--red {
      color: $color-red;
    }
  }

  &__subheading {
    font-size: 1.4rem;
    padding-top: 1rem;
    margin-bottom: auto;
  }

  &__desc {
    color: $color-black;
    width: 56rem;
    margin: 0 auto;

    @media only screen and (max-width: 39.6875em) {
      width: 100%;
    }
  }

  &__teams {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 9rem;

    @media only screen and (max-width: 70.625em) {
      flex-direction: column;
    }
  }

  &__box {
    @include flex-center;
    flex-direction: column;

    &--ct {
      position: relative;
      margin-top: -2rem;

      @media only screen and (max-width: 70.625em) {
        margin-top: 8rem;
      }
    }
  }

  &__image {
    &--cd {
      @media only screen and (max-width: 31.25em) {
        width: 15rem;
      }
    }

    &--ct {
      padding-left: 32rem;
      padding-bottom: 2rem;
      margin-bottom: -15.5rem;

      @media only screen and (max-width: 53.125em) {
        width: 30rem;
        padding-bottom: 15rem;
        padding-left: 5rem;
      }

      @media only screen and (max-width: 31.25em) {
        width: 20rem;
      }
    }
  }
}
